body{
	margin: 0;
	padding: 0;
	width: 100%;
}

nav{
	list-style-type: none;
	margin-right: 100px;
	margin-top: -10px;
	padding:0;
	float: right;
}

nav li{
	overflow: hidden;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 12px;
	margin-left: 50px;
	display: inline-block;
	height: 50px;
}


a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;	
}
nav a:hover, .dropdown:hover .dropbtn {
    color:#99bdcc;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 20px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav li:hover .dropdown-content {
	display: block;
}

.logo{
	position: absolute;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin-left: 80px;
	margin-top: 30px;
}

.d1{
	width: 100%;
	height: 100px;
	background-color: white;
	display: block;
	border: none;
}

.d2{
	position: absolute;
	width: 100%;
	height: 530px;
	background-color: #F6F6F6;
	display: block;
	border: none;
	text-align: center;
}

.d2 h1{
	margin-top: 150px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 25px;
	text-align: center;
	word-spacing: 10px;
}

.d2 p{
	margin-top: 35px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	word-spacing: 10px;
}

.demo{
	display: inline-block;
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
	padding: 14px 20px;
	margin-top: 20px;
	background-color: #313131;
	font-size: 16px;
	color: white;
	text-align: center;
	cursor: pointer;
}
.d3{
	width: 100%;
	height: 400px;
	margin-top: 530px;
	background-color: white;
	border: none;
}

.d3wrapper{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 120px;
	
}

.k1, .k2, .k3, .k4{
		width: 300px;
		height: 150px;
		background-color: #FF5548;
		border-radius: 10px;
		box-shadow: 0 5px 10px -2px gray;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 15px;

		color: white;
		text-align: center;
}
p{
	font-size: 40px;
}

h3{
	line-height: 10%;
	margin-top: -30px;
}


.k2{
	background-color: #A92AB5;
}

.k3{
	background-color: #00CBAD;
}

.k4{
	background-color: #278BE0;
}

.d4 {
	width: 100%;
	background: #F6F6F6;
	padding: 20px 0;
}
.d4 .content-wrap {
	width: 70%;
	margin: auto;
	margin-top: 60px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}
.d4 .btns {
	margin-bottom: 20px;
}
.d4 .btn-primary {
	background: #E9E9E9;
	color: #000;
	border-radius: 3px;
	border:none;
    padding: 8px 23px;
    box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75);
	cursor: pointer;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:16px;
}
.btn-primary:hover {
	background: #000;
	color: #fff;
}
.d4 .btn-primary.active {
	color: #fff;
	background: #000;
}
.d4 .pictures {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 120px;
}
.pictures img {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	height: 250px;
}
.text-img {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}
.text-img h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	position: absolute;
	bottom: 3px;
	width: 98%;
	background: #fff;
	padding: 10px 0;
	margin: 0;

}

.text-img img:hover{
	border: 2px solid black;
}

.d5{
	width: 100%;
	height: 600px;
	background: white;
	padding: 20px 0;
}

.naslovd5{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 25px;
	text-align: center;
	letter-spacing: 3px;
	padding-top: 30px;
}

.naslov2d5{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 15px;
	text-align: center;
}

hr{
  	border: none;
    height: 2px;
    width: 60px;
    background-color: #D1CFCF;
}

ul {
	text-align: left;
	font-family: 'PT Sans Narrow', sans-serif;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding-top: 30px;
    margin-left: 10%;
}

li{
	list-style-type: none;
	padding-top: 50px;
}

.d6{
	background-color: #464646;
	width: 100%;
	height: 200px;
	padding: 20px 0;
}

.naslovd6{
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
	font-size: 30px;
	color: white;
	margin-top: 50px;
}

.social{
	text-align: center;
    color: white;
    font-size: 22px;
}

.social:hover{
}

#social{
	padding-left: 20px;
}

#social:hover{
	color: #C1EBF3;
}

.d7{
	width: 100%;
	height: 80px;
	background-color: black;
	position: relative;
}

.d7levo, .d7desno{
	float: left;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 10px;
	color: white;
	margin-top: 55px;
	margin-left: 15px;
}

.d7desno{
	float: right;
	margin-right: 20px;
}

.hiddend1{
	display:none;
}

@media only screen 
  and (max-device-width: 768px) 
  and (min-device-width: 426px) {

	nav{
	margin-right: 4%;
    margin-top: 2%;
	}

	nav li{
		font-size: 14px;
		margin-left: 35px;
	}


	.logo{
    font-size: 20px;
    margin-left: 3%;
    margin-top: 2%;
	}

	.dropdown-content{
		margin-top: 0px;
	}

	.d2 h1{
		font-size: 45px;
    	margin-left: 150px;
    	margin-top: 110px;
    	width: 60%;
	}

	.d2 p{
		width: 84%;
		margin-left: 60px;
	}

	.demo {
		padding: 4px 25px;
	}

	.k1, .k2, .k3, .k4{
		margin-left: 15px;
    	margin-right: 15px;
    	height: 220px;
	}

	.d3 p{
		padding-top: 30px;
	}

	.d3wrapper{
	padding-top: 85px;
    padding-left: 20px;
    padding-right: 20px;
}

    .pictures img {
    	height: 190px;
    	width: 250px;
    	margin-top: -25px;
    	box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
    }

    .d4 .pictures{
    	 margin-top: 80px;
    }

    .text-img h2{
    	font-weight: normal;
    	font-size: 13px;
    }

    ul{
    	column-count: 2;
    	padding-top: 0px;
    	margin-left: 6%;
    }

    li{
    	font-size: 14px;
    }

    .d7{
    	height: 88px;
    }

    .d7levo, .d7desno {
	font-size: 9px;
    }

    .d4 .btn-primary {
    border:none;
    padding: 8px 23px;
    box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75)
	}

	.d4 .btns {
		word-spacing: 4px;
	}

}


@media screen and (max-device-width: 425px){

	body {
		width: 100%;
	}

	nav{
		display:none;
	}

	.d1{
		width: 100%;
		height: 80px;
	}

	.logo{
   		display: inline-block;
   		margin: 0;
   		float: left;
    	margin-top: 25px;
    	border:none;
    	padding-left: 20px;
	}

	.header {
		display: block;
    	width: 100%;
    	height: 80px;
	}

	.hiddend1{
		display: inline-block;
    	float: right;
    	font-size: 50px;
    	margin-top: 12px;
    	padding-right: 20px;
	}

	.d1 .fas {
		font-size:40px;
	}

	.d2 {
		width: 100%;
		display:inline-block;
		position:static;
	}

	.d2 h1{
		word-spacing: 217px;
		font-size: 40px;
		margin-top: 70px;
	}

	.d2 p{
		width: 80%;
    	word-spacing: 22px;
    	margin-left: 40px;
	}

	.demo {
		font-size: 30px;
	}

	.d3{
		width: 100%;
    	margin: 0 auto;
    	padding-bottom: 45px;
    	height: auto;
	}

	.d3wrapper{
		display: block;
		padding-top:0;
		margin:auto;
	}

	.k1, .k2, .k3, .k4 {
		height: 180px;
    	width: 65%;
    	margin: 0 auto;
    	left: 0px;
    	right: 0px;
   }

   .d3 p{
   	font-size: 60px;
   	padding-top: 33px;
   }

   .d3 h3{
   	font-size: 20px;
    margin-top: -56px;
   }

   .d4 .btns {
    margin-bottom: 20px;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
	}

	.d4 .btn-primary{
	font-size:10px;
	padding: 8px 25px;
	}

   .d4 .content-wrap {
   	width: 100%;
   }	

   .d4 .pictures{
   	margin-top: 20%;
    display:inline-block;
    padding-left: 15%;
    padding-right: 15%;
   }

   .pictures img{
   		width: 105%;
   }

   .d5{
   	height: 480px;
   }

   ul{
   	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-left: 0;
    padding: 0 19px 0px 45px;
   }

   li{
   	padding-top: 30px;
   	font-size: 14px;
   }

   .d6 {
   	height: 150px;
   	padding: 0;
   }

   .naslovd6{
   	padding-top: 7%;
   }

   .d7levo, .d7desno{
   	font-size: 9px;
   }

   .d7{
   	height: 85px;
   }
}
 
@media screen and (max-device-width: 320px){

	.d5wrap{
		width:90%;
		margin:0 auto;
	}

	ul {
		padding: 0 13px 0px 29px;
	}

	li{
		font-size:11px;
	}

}



  /* desktop laptop */
@media screen and (max-width: 1366px) {

}
/* tablet */
@media screen and (max-width: 991px) {

}
/* mobile */
@media screen and (max-width: 768px) {

}


/* za sliki da stavam edna auto vrednost i edna fiksna t.e % */
